@import '../../styles/shared-styles.scss';

.container {
    margin-top: 20px;
    color: white;
    // height: 90vh;
    align-items: center;
    justify-content: center;
}

.register-form {
    background-color: #71c8ce;
    border-radius: 10px;
    padding: 30px;
    max-width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    color: white;
    margin-bottom: 40px;
}

.register-header {
    text-align: center;
    color: white; /* Màu đỏ tươi cho tiêu đề */
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
}

.label-text {
    color: #f39c12; /* Màu vàng cho nhãn */
}

.form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-control:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.password-field {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #ecf0f1;
    cursor: pointer;
}

.checkbox-text {
    color: #f39c12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Màu checkbox khi được chọn */
.checkbox-text input[type="checkbox"]:checked {
    border-color: white;
    background-color: #e67e22; /* Màu cam khi được chọn */
}

.form-check-input {
    margin-right: 8px;
}

.register-link {
    color: #1abc9c; /* Màu xanh ngọc cho liên kết */
    text-decoration: underline;
    font-weight: bold;
}

.register-button {
    background: linear-gradient(to right, #e67e22, #e74c3c); /* Gradient cam đỏ cho nút */
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.register-button:hover {
    background: linear-gradient(to right, #e74c3c, #c0392b); /* Đổi màu khi hover */
}

.divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 20px 0;
}

.divider-nospace {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.6);
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.6);
}

.text-danger {
    color: #e74c3c; /* Màu đỏ nổi bật cho cảnh báo */
    font-size: 14px;
    margin-top: 5px;
}
