<app-header></app-header>
<form [formGroup]="userProfileForm"> 
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="product-header text-center">THÔNG TIN NGƯỜI DÙNG</h2>
            <div class="mb-4">
                <label for="fullname" class="form-label">Họ và tên</label>
                <input type="text" 
                    formControlName="fullname" 
                    class="form-control form-control-lg" 
                    id="fullname" 
                    placeholder="Nhập họ và tên của bạn"
                    [class.is-invalid]="userProfileForm.get('fullname')!.invalid && userProfileForm.get('fullname')!.touched">
                <div class="invalid-feedback">
                    Họ và tên là trường bắt buộc.
                </div>                 
            </div>
            <div class="mb-4">
                <label for="address" class="form-label">Địa chỉ</label>
                <input type="text" 
                    formControlName="address" 
                    class="form-control form-control-lg" 
                    id="address" 
                    placeholder="Nhập địa chỉ của bạn"
                    [class.is-invalid]="userProfileForm.get('address')!.invalid && userProfileForm.get('address')!.touched">
                <div class="invalid-feedback">
                    Địa chỉ là trường bắt buộc.
                </div>
            </div>                        
            <div class="mb-4">
                <label for="date_of_birth" class="form-label">Ngày sinh</label>
                <input type="date" 
                    formControlName="date_of_birth" 
                    class="form-control form-control-lg" 
                    id="date_of_birth">
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Mật khẩu</label>
                <input type="password" 
                       class="form-control form-control-lg" 
                       formControlName="password"                         
                       placeholder="Mật khẩu"
                       id="password" 
                       [class.is-invalid]="userProfileForm.get('password')!.invalid 
                        && userProfileForm.get('password')!.touched">
                <div class="invalid-feedback">
                    Mật khẩu ít nhất 3 ký tự.
                </div>
              </div>              
              <div class="mb-4">
                <label for="retype_password" class="form-label">Nhập lại mật khẩu</label>
                <input type="password" 
                       class="form-control form-control-lg" 
                       formControlName="retype_password"                         
                       placeholder="Nhập lại mật khẩu" 
                       id="retype_password" 
                       [class.is-invalid]="userProfileForm.get('retype_password')!.invalid 
                          && userProfileForm.get('retype_password')!.touched">
                <div class="invalid-feedback">
                    Mật khẩu không khớp.
                </div>                  
              </div>              
              <div class="text-center">
                <button type="button" 
                    (click)="save()"
                    class="btn btn-primary btn-lg">Lưu thay đổi</button>
              </div>
        </div>
    </div>
</form>
<app-footer></app-footer>
