<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/images/logo.png" alt="Edukids Logo" class="logo">
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                      <a class="nav-link" 
                        [ngClass]="{ 'active': activeNavItem === 0 }"
                        (click)="setActiveNavItem(0)"
                        routerLink="/">
                        <i class="fas fa-home icon"></i>
                        Trang chủ
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" 
                        [ngClass]="{ 'active': activeNavItem === 1 }"
                        (click)="setActiveNavItem(1)"
                        routerLink="/">
                        <i class="fas fa-bell icon"></i>
                        Thông báo
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" 
                          [ngClass]="{ 'active': activeNavItem === 2 }"
                          (click)="setActiveNavItem(2)"
                          routerLink="/orders">
                          <i class="fas fa-book icon"></i>
                          Đang học
                      </a>
                  </li>                                                          
              </ul>
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <ng-container *ngIf="userResponse; else guestUser">
                          <ng-container
                            ngbPopover="Tài khoản của tôi,Đơn mua,Đăng xuất"
                            popoverTitle="User Actions"
                            triggers="click"
                            [placement]="'bottom'"
                          >
                            <a
                              class="nav-link"                              
                              [ngbPopover]="popoverContent"
                              (click)="togglePopover($event)"
                            >
                              <i class="fas fa-user icon"></i>
                              {{ userResponse.fullname }}
                            </a>
                            <ng-template #popoverContent>
                              <div class="popover-list">
                                <a class="popover-item" 
                                    (click)="handleItemClick(0)">
                                    <i class="fas fa-user-cog icon"></i>
                                    Tài khoản của tôi
                                </a>
                                <a class="popover-item" 
                                    (click)="handleItemClick(1)">
                                    <i class="fas fa-book icon"></i>
                                    Đã học
                                </a>
                                <a class="popover-item" 
                                    (click)="handleItemClick(2)">
                                    <i class="fas fa-sign-out-alt icon"></i>
                                    Đăng xuất
                                </a>
                              </div>
                            </ng-template>
                          </ng-container>
                      </ng-container>
                      <ng-template #guestUser>
                          <a class="nav-link" routerLink="/login">
                              <i class="fas fa-sign-in-alt icon"></i>
                              Đăng nhập
                          </a>
                      </ng-template>                                              
                  </li>  
              </ul>
          </div>
      </div>
  </nav>
</header>
