@import '../../styles/shared-styles.scss';

.container {
    margin-top: 20px;
    color: white;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    background-color: #71c8ce;
    border-radius: 10px;
    padding: 30px;
    max-width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    color: white;
    margin-bottom: 40px;
}

.login-header {
    text-align: center;
    color: white;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form-control:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border-color: rgba(255, 255, 255, 0.5);
}

.role-option {
    color: black;
}

.divider-nospace {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 0;
}

.password-field {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
}

.checkbox-text {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

/* Màu checkbox khi được chọn */
.checkbox-text input[type="checkbox"]:checked {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
}

.form-check-input {
    margin-right: 8px;
}

.register-link {
    color: white;
    text-decoration: underline;
}

.access-right {
    margin-top: 20px;
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 10px;
}

.access-right:focus {
    border-color: rgba(255, 255, 255, 0.5);
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
}

.login-button {
    background: linear-gradient(to right, rgba(105, 244, 181, 0.9), rgba(243, 165, 42, 0.9));
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    border: none;
    font-size: 16px;
}

.divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 20px 0;
}

p.text-center {
    margin-top: 15px;
    color: white;
}

p.text-center .register-link {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
